# Spin the Reel Project Demo
# APAN 5400 - Summer 2025
# Alessio Maritez-Larios, Angela Ding, Eleanor Wen, Mariela Bracete, Yu Lan Tang

Please note that this code will take approximately 30 minutes to run

In [1]:
#Installing required packages
#Installing Facebook AI Similarity Search to compute similarity
#!pip install pandas numpy sqlalchemy psycopg2-binary pymongo pyspark faiss-cpu pretty_html_table

#Importing libraries

import pandas as pd
import numpy as np
import psycopg2
import os
from datetime import datetime
import json
import ast
import faiss
from tqdm import tqdm
from pymongo import MongoClient
from sqlalchemy import create_engine
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.functions import col

## Data Processing

Read in data

In [2]:
print(datetime.now())

2025-08-11 14:56:15.912302

In [3]:
#Loading the TMDB Movies Dataset

tmdb_og = pd.read_csv('TMDB_movie_dataset_v11.csv')
ratings = pd.read_csv("ratings.csv")

Clean Data

In [4]:
#Filtering the data to obtain a clean dataset of unique, valid movies with sufficient metadata for next steps

#Clean the dataset before TF-IDF
tmdb_df = tmdb_og[
    tmdb_og["overview"].notna() & 
    tmdb_og["genres"].notna() &
    (tmdb_og["overview"].str.strip() != "")
]

tmdb_df = tmdb_df.drop_duplicates(subset="original_title")
tmdb_df = tmdb_df.reset_index(drop=True)

print("Filtered shape:", tmdb_df.shape)

#Checking the first few rows
tmdb_df.head()

Filtered shape: (541854, 24)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [5]:
#Ensuring data is pre-processed and ready for next steps

def parse_field(x):
    # Only try to parse if it's a non-null string
    if isinstance(x, str) and x.strip() != "":
        try:
            return ast.literal_eval(x)
        except (ValueError, SyntaxError):
            # Fallback: Treat as a comma-separated string
            return [{"name": s.strip()} for s in x.split(",")]
    return []  # Return empty list for NaN, None, or non-string values

#Applying to JSON-like columns
json_cols = ['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages']

for col in json_cols:
    tmdb_df[col] = tmdb_df[col].apply(parse_field)

#Extracting genre names as example
tmdb_df['genre_names'] = tmdb_df['genres'].apply(lambda x: [d['name'] for d in x if isinstance(d, dict) and 'name' in d])

<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal

In [6]:
#Adding genre_str and keywords_str to the dataframe in order to use text-based techniques like TF-IDF for content similarity later

#Creating 'genre_str' by joining the genre names
tmdb_df["genre_str"] = tmdb_df["genres"].apply(
    lambda x: ", ".join([d["name"] for d in x if isinstance(d, dict) and "name" in d]) if isinstance(x, list) else ""
)

#Creating 'keywords_str' by joining keyword names
tmdb_df["keywords_str"] = tmdb_df["keywords"].apply(
    lambda x: ", ".join([d["name"] for d in x if isinstance(d, dict) and "name" in d]) if isinstance(x, list) else ""
)

In [7]:
#Checking raw genres and cleaned up names

tmdb_df[['title', 'genres', 'genre_names']].head(3)

,title,genres,genre_names
0,Inception,"[{'name': 'Action'}, {'name': 'Science Fiction...","[Action, Science Fiction, Adventure]"
1,Interstellar,"[{'name': 'Adventure'}, {'name': 'Drama'}, {'n...","[Adventure, Drama, Science Fiction]"
2,The Dark Knight,"[{'name': 'Drama'}, {'name': 'Action'}, {'name...","[Drama, Action, Crime, Thriller]"

In [8]:
#Transformations:

#Droping columns that aren't useful for analysis

columns_to_drop = ['id', 'backdrop_path', 'poster_path', 'imdb_id', 'homepage']
tmdb_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

#Converting release-data to "datetime"

tmdb_df['release_date'] = pd.to_datetime(tmdb_df['release_date'], errors='coerce')

#Handling missing values

#Numeric fill
for col in ['runtime', 'revenue', 'budget']:
    tmdb_df[col] = tmdb_df[col].fillna(tmdb_df[col].median())

#Text fill
for col in ['overview', 'tagline']:
    tmdb_df[col] = tmdb_df[col].fillna('')

#Dropping rows missing essential info
tmdb_df = tmdb_df.dropna(subset=['title', 'release_date'])

#Creating simple genre sting column for optimized querying in PostgreSQL

tmdb_df['genre_str'] = tmdb_df['genres'].apply(lambda x: ', '.join([d['name'] for d in x]) if isinstance(x, list) else '')

In [9]:
#Pre-processing text features

for col in tmdb_df.columns:
    if tmdb_df[col].apply(lambda x: isinstance(x, (list, dict))).any():
        print(f"Column '{col}' contains list or dict values! Converting to string...")
        tmdb_df[col] = tmdb_df[col].apply(lambda x: str(x) if isinstance(x, (list, dict)) else x)

#Step 1: converting "keyowords" to string
def clean_keywords(kw_list):
    if pd.isnull(kw_list) or kw_list == '':
        return ''
    try:
        # Convert stringified list of dicts to real list
        keywords = ast.literal_eval(kw_list)
        if isinstance(keywords, list):
            return ' '.join([kw['name'] for kw in keywords if 'name' in kw])
    except:
        return ''
    return ''

tmdb_df['keywords_clean'] = tmdb_df['keywords'].apply(clean_keywords)

Column 'genres' contains list or dict values! Converting to string...
Column 'production_companies' contains list or dict values! Converting to string...
Column 'production_countries' contains list or dict values! Converting to string...
Column 'spoken_languages' contains list or dict values! Converting to string...
Column 'keywords' contains list or dict values! Converting to string...
Column 'genre_names' contains list or dict values! Converting to string...

In [10]:
#Step 2: normalizing to lowercase and filling missing text

tmdb_df['overview_clean'] = tmdb_df['overview'].fillna('').str.lower()
tmdb_df['genre_clean'] = tmdb_df['genre_str'].fillna('').str.lower()

In [11]:
#Step 3: combining all features into a single text column, called content_features

tmdb_df['content_features'] = (
    tmdb_df['overview_clean'] + ' ' +
    tmdb_df['genre_clean'] + ' ' +
    tmdb_df['keywords_clean']
)

Save cleaned data to Postgres and Mongo

In [12]:
#Creating PostgreSQL connection string and engine

#Connection details
db_user = 'postgres'
db_password = '123'  
db_host = 'localhost'
db_port = '5432'
db_name = 'movies_db'

#Creating engine
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [13]:
#Storing the cleaned dataframe tmdb_df into a PostgreSQL table called "movies"

#First, identifying and converting any problematic columns (lists or dicts) to strings

tmdb_df.to_sql('movies', engine, if_exists='replace', index=False)

print("Data written to PostgreSQL successfully!")

Data written to PostgreSQL successfully!

In [14]:
#Storing the rating data into a PostgreSQL table called "ratings"

ratings.to_sql('ratings', engine, if_exists='replace', index=False)

print("Data written to PostgreSQL successfully!")

Data written to PostgreSQL successfully!

In [15]:
#Loading data into MongoDB

#Connecting to MongoDB running locally via Docker
mongo_client = MongoClient("mongodb://localhost:27017/")

#Creating or connecting to the 'movies_db' database and 'movies_collection'
mongo_db = mongo_client["movies_db"]
mongo_collection = mongo_db["movies_collection"]

#Dropping the collection to avoid duplicates on re-run
mongo_collection.drop()

#Converting DataFrame to dictionary records
records = tmdb_df.to_dict(orient='records')

#Inserting records
mongo_collection.insert_many(records)

print("Data successfully inserted into MongoDB!")

Data successfully inserted into MongoDB!

## Recommendation System

In [16]:
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    dbname=db_name,
    user=db_user,
    password=db_password
)

In [17]:
cur = conn.cursor()

In [18]:
# Switch Mongo collection
mongo_collection = mongo_db["parquet"]

In [19]:
#SPARK: Starting session
spark = SparkSession.builder \
    .appName("TMDB_Movies_App") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .config("spark.jars.packages", "org.postgresql:postgresql:42.2.18,org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .config("spark.mongodb.input.uri", "mongodb://localhost:27017/movies_db.movies") \
    .config("spark.mongodb.output.uri", "mongodb://localhost:27017/movies_db.movies") \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

25/08/11 15:17:44 WARN Utils: Your hostname, admins-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.1.124 instead (on interface en1)
25/08/11 15:17:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Ivy Default Cache set to: /Volumes/ExternalSSD/Users/externaladmin/.ivy2/cache
The jars for the packages stored in: /Volumes/ExternalSSD/Users/externaladmin/.ivy2/jars
org.postgresql#postgresql added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c82b9d4e-a411-41f5-8297-4bf94c9051c7;1.0
	confs: [default]

:: loading settings :: url = jar:file:/Volumes/ExternalSSD/opt/anaconda3/lib/python3.12/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found org.postgresql#postgresql;42.2.18 in central
	found org.checkerframework#checker-qual;3.5.0 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
:: resolution report :: resolve 90ms :: artifacts dl 3ms
	:: modules in use:
	org.checkerframework#checker-qual;3.5.0 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.postgresql#postgresql;42.2.18 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   6   |   0   |   0   |   0   ||   6   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c82b9d4e-a411-41f5-8297-4bf94c9051c7
	confs: [default]
	0 artifacts copied, 6 already retrieved (0kB/3ms)
25/08/11 15:17:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [20]:
query = """
SELECT
    *
FROM
	MOVIES
"""

tmdb_df = pd.read_sql_query(query, conn)

/var/folders/t9/4vm7tsxn46q7b35bk_7nmq7c0000gp/T/ipykernel_81802/1655306333.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tmdb_df = pd.read_sql_query(query, conn)

In [21]:
tmdb_df.head(5)

,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,...,production_countries,spoken_languages,keywords,genre_names,genre_str,keywords_str,keywords_clean,overview_clean,genre_clean,content_features
0,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...","[{'name': 'English'}, {'name': 'French'}, {'na...","[{'name': 'rescue'}, {'name': 'mission'}, {'na...","['Action', 'Science Fiction', 'Adventure']","Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",rescue mission dream airplane paris france vir...,"cobb, a skilled thief who commits corporate es...","action, science fiction, adventure","cobb, a skilled thief who commits corporate es..."
1,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...",[{'name': 'English'}],"[{'name': 'rescue'}, {'name': 'future'}, {'nam...","['Adventure', 'Drama', 'Science Fiction']","Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",rescue future spacecraft race against time art...,the adventures of a group of explorers who mak...,"adventure, drama, science fiction",the adventures of a group of explorers who mak...
2,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...","[{'name': 'English'}, {'name': 'Mandarin'}]","[{'name': 'joker'}, {'name': 'sadism'}, {'name...","['Drama', 'Action', 'Crime', 'Thriller']","Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",joker sadism chaos secret identity crime fight...,batman raises the stakes in his war on crime. ...,"drama, action, crime, thriller",batman raises the stakes in his war on crime. ...
3,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,...,"[{'name': 'United States of America'}, {'name'...","[{'name': 'English'}, {'name': 'Spanish'}]","[{'name': 'future'}, {'name': 'society'}, {'na...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",future society culture clash space travel spac...,"in the 22nd century, a paraplegic marine is di...","action, adventure, fantasy, science fiction","in the 22nd century, a paraplegic marine is di..."
4,Pee-wee's Big Holiday,6.087,213,Released,2016-03-15,0,90,False,0,en,...,[{'name': 'United States of America'}],[{'name': 'English'}],[],"['Adventure', 'Comedy', 'Family']","Adventure, Comedy, Family",,,a fateful meeting with a mysterious stranger i...,"adventure, comedy, family",a fateful meeting with a mysterious stranger i...

In [22]:
#RECOMMENDATION ENGINE BUILD: Pre-processing data for PySpark ALS. 
#(Will use hybrid recommendation system, leveraing collaboritve and content-based filtering.)

#Loading ratings dataset:
ratings = spark.read.csv("ratings.csv", header=True, inferSchema=True)
"""
ratings = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/movies_db") \
    .option("dbtable", "public.ratings") \
    .option("user", "postgres") \
    .option("password", "123") \
    .option("driver", "org.postgresql.Driver") \
    .load()
"""

'\nratings = spark.read     .format("jdbc")     .option("url", "jdbc:postgresql://localhost:5432/movies_db")     .option("dbtable", "public.ratings")     .option("user", "postgres")     .option("password", "123")     .option("driver", "org.postgresql.Driver")     .load()\n'

In [23]:
from pyspark.sql.functions import col

#Selecting and clean relevant columns
als_ratings = ratings.select("userId", "movieId", "rating") \
    .dropna() \
    .withColumn("userId", col("userId").cast("integer")) \
    .withColumn("movieId", col("movieId").cast("integer")) \
    .withColumn("rating", col("rating").cast("float"))

In [24]:
#Confirming schema is clean
als_ratings.printSchema()
als_ratings.show(5)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: float (nullable = true)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|     17|   4.0|
|     1|     25|   1.0|
|     1|     29|   2.0|
|     1|     30|   5.0|
|     1|     32|   5.0|
+------+-------+------+
only showing top 5 rows

In [25]:
#Verifying ratings df has all necessary variables and is in Spark format

ratings.show(5)
ratings.printSchema()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|     17|   4.0|944249077|
|     1|     25|   1.0|944250228|
|     1|     29|   2.0|943230976|
|     1|     30|   5.0|944249077|
|     1|     32|   5.0|943228858|
+------+-------+------+---------+
only showing top 5 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [26]:
#Splitting ratings data

(training, test) = ratings.randomSplit([0.8, 0.2], seed=42)

In [27]:
#Building and training ALS model

als = ALS(
    userCol="userId",
    itemCol="movieId",
    ratingCol="rating",
    nonnegative=True,
    coldStartStrategy="drop"
)

param_grid = ParamGridBuilder() \
    .addGrid(als.rank, [10, 20]) \
    .addGrid(als.regParam, [0.1, 0.01]) \
    .build()

evaluator = RegressionEvaluator(
    metricName="rmse",
    labelCol="rating",
    predictionCol="prediction"
)

cv = CrossValidator(
    estimator=als,
    estimatorParamMaps=param_grid,
    evaluator=evaluator,
    numFolds=3
)

cv_model = cv.fit(training)
best_model = cv_model.bestModel

CodeCache: size=131072Kb used=23396Kb max_used=23807Kb free=107675Kb
 bounds [0x00000001026a0000, 0x0000000103e00000, 0x000000010a6a0000]
 total_blobs=9353 nmethods=8395 adapters=869
 compilation: disabled (not enough contiguous free space left)

Java HotSpot(TM) 64-Bit Server VM warning: CodeCache is full. Compiler has been disabled.
Java HotSpot(TM) 64-Bit Server VM warning: Try increasing the code cache size using -XX:ReservedCodeCacheSize=

In [28]:
#Evaluating the model on test data

predictions = best_model.transform(test)
rmse = evaluator.evaluate(predictions)
print(f"Root-mean-square error = {rmse:.4f}")

Root-mean-square error = 0.8081

In [29]:
#Generating Top-N Recommendations

user_recs = best_model.recommendForAllUsers(10)
user_recs.show(5, truncate=False)

+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                                                                |
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|26    |[{151989, 6.518612}, {270306, 6.321332}, {240070, 6.321332}, {240054, 6.321332}, {194434, 6.2743864}, {275847, 6.2547817}, {210789, 6.1109123}, {177209, 6.0515385}, {225435, 6.0235205}, {183947, 5.9691477}] |
|27    |[{270306, 5.883775}, {240070, 5.883775}, {240054, 5.883775}, {177209, 5.8430715}, {151989, 5.7289357}, {210789, 5.605529}, {222368, 5.4952555}, {275847, 5.4761596}, {194434, 5.3697276}, {225435, 5.1915293}] |
|28    |[{270306, 6.198765}, {240070, 6.198765}, {240054, 6.198765}, {151989, 6.137644}, {194434, 5.955192}, {177209, 5.8582497}, {275847, 5.8420477}, {231289, 5.6544976}, {231287, 5.6544976}, {219031, 5.6544976}]  |
|31    |[{270306, 6.718152}, {240070, 6.718152}, {240054, 6.718152}, {194434, 6.5010314}, {275847, 6.2211165}, {177209, 6.064033}, {151989, 6.0163794}, {227066, 5.9658875}, {183947, 5.9304023}, {231289, 5.8190165}] |
|34    |[{177209, 5.734081}, {270306, 5.4978447}, {240070, 5.4978447}, {240054, 5.4978447}, {222368, 5.2599792}, {194434, 5.220666}, {210789, 5.157293}, {225435, 5.1507854}, {151989, 5.0547338}, {140381, 4.9605794}]|
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [30]:
#TF-IDF Vectorization of content_features

#Limiting to 2,000 features and ignoring common English stop words
tfidf = TfidfVectorizer(stop_words='english', max_features=2000)

In [31]:
#Fitting and transforming the content features
tfidf_matrix = tfidf.fit_transform(tmdb_df['content_features']) 
tmdb_df.head()

,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,...,production_countries,spoken_languages,keywords,genre_names,genre_str,keywords_str,keywords_clean,overview_clean,genre_clean,content_features
0,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...","[{'name': 'English'}, {'name': 'French'}, {'na...","[{'name': 'rescue'}, {'name': 'mission'}, {'na...","['Action', 'Science Fiction', 'Adventure']","Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",rescue mission dream airplane paris france vir...,"cobb, a skilled thief who commits corporate es...","action, science fiction, adventure","cobb, a skilled thief who commits corporate es..."
1,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...",[{'name': 'English'}],"[{'name': 'rescue'}, {'name': 'future'}, {'nam...","['Adventure', 'Drama', 'Science Fiction']","Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",rescue future spacecraft race against time art...,the adventures of a group of explorers who mak...,"adventure, drama, science fiction",the adventures of a group of explorers who mak...
2,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,...,"[{'name': 'United Kingdom'}, {'name': 'United ...","[{'name': 'English'}, {'name': 'Mandarin'}]","[{'name': 'joker'}, {'name': 'sadism'}, {'name...","['Drama', 'Action', 'Crime', 'Thriller']","Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",joker sadism chaos secret identity crime fight...,batman raises the stakes in his war on crime. ...,"drama, action, crime, thriller",batman raises the stakes in his war on crime. ...
3,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,...,"[{'name': 'United States of America'}, {'name'...","[{'name': 'English'}, {'name': 'Spanish'}]","[{'name': 'future'}, {'name': 'society'}, {'na...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",future society culture clash space travel spac...,"in the 22nd century, a paraplegic marine is di...","action, adventure, fantasy, science fiction","in the 22nd century, a paraplegic marine is di..."
4,Pee-wee's Big Holiday,6.087,213,Released,2016-03-15,0,90,False,0,en,...,[{'name': 'United States of America'}],[{'name': 'English'}],[],"['Adventure', 'Comedy', 'Family']","Adventure, Comedy, Family",,,a fateful meeting with a mysterious stranger i...,"adventure, comedy, family",a fateful meeting with a mysterious stranger i...

In [32]:
#Checking shape
print("TF-IDF matrix shape:", tfidf_matrix.shape)

TF-IDF matrix shape: (510323, 2000)

In [33]:
#Sampling the first 500 movies from the TF-IDF matrix to prevent crashes when computing similarity

sample_size = 500  
tfidf_sample = tfidf_matrix[:sample_size]

In [34]:
#Reducing dimensionality to prevent memory crash
svd = TruncatedSVD(n_components=100, random_state=42)  
tfidf_reduced = svd.fit_transform(tfidf_sample)

In [35]:
#Performing FAISS-based (Facebook AI Similarity Search) Cosine Similarity with Batching

#Step 1: Converting TF-IDF sample to dense float32 array
tfidf_dense = tfidf_reduced.astype('float32')

In [36]:
#Step 2: Normalizing vectors to unit length (important for cosine similarity)
faiss.normalize_L2(tfidf_dense)

In [37]:
#Step 3: Building FAISS index for inner product (cosine similarity after normalization)
index = faiss.IndexFlatIP(tfidf_dense.shape[1])  
index.add(tfidf_dense)

In [38]:
print(tfidf_dense.shape)
print(index.is_trained)  #Should be True

(500, 100)
True

In [39]:
#Step 4: Batch similarity search with minimal memory
batch_size = 1
similar_movies = []

for start in range(0, tfidf_dense.shape[0], batch_size):
    end = min(start + batch_size, tfidf_dense.shape[0])
    tfidf_batch = tfidf_dense[start:end]

    try:
        similarity_scores, similar_indices = index.search(tfidf_batch, 6)  # 5 + self
        for i in range(end - start):
            for j in range(1, 6):  # Skip index 0 (self)
                similar_movies.append({
                    "movie_index": int(start + i),
                    "similar_index": int(similar_indices[i, j]),
                    "similarity": float(similarity_scores[i, j])
                })
        print(f"✅ Batch {start} to {end} processed successfully")

    except Exception as e:
        print(f"❌ Batch {start} to {end} failed: {e}")

✅ Batch 0 to 1 processed successfully
✅ Batch 1 to 2 processed successfully
✅ Batch 2 to 3 processed successfully
✅ Batch 3 to 4 processed successfully
✅ Batch 4 to 5 processed successfully
✅ Batch 5 to 6 processed successfully
✅ Batch 6 to 7 processed successfully
✅ Batch 7 to 8 processed successfully
✅ Batch 8 to 9 processed successfully
✅ Batch 9 to 10 processed successfully
✅ Batch 10 to 11 processed successfully
✅ Batch 11 to 12 processed successfully
✅ Batch 12 to 13 processed successfully
✅ Batch 13 to 14 processed successfully
✅ Batch 14 to 15 processed successfully
✅ Batch 15 to 16 processed successfully
✅ Batch 16 to 17 processed successfully
✅ Batch 17 to 18 processed successfully
✅ Batch 18 to 19 processed successfully
✅ Batch 19 to 20 processed successfully
✅ Batch 20 to 21 processed successfully
✅ Batch 21 to 22 processed successfully
✅ Batch 22 to 23 processed successfully
✅ Batch 23 to 24 processed successfully
✅ Batch 24 to 25 processed successfully
✅ Batch 25 to 26 processed successfully
✅ Batch 26 to 27 processed successfully
✅ Batch 27 to 28 processed successfully
✅ Batch 28 to 29 processed successfully
✅ Batch 29 to 30 processed successfully
✅ Batch 30 to 31 processed successfully
✅ Batch 31 to 32 processed successfully
✅ Batch 32 to 33 processed successfully
✅ Batch 33 to 34 processed successfully
✅ Batch 34 to 35 processed successfully
✅ Batch 35 to 36 processed successfully
✅ Batch 36 to 37 processed successfully
✅ Batch 37 to 38 processed successfully
✅ Batch 38 to 39 processed successfully
✅ Batch 39 to 40 processed successfully
✅ Batch 40 to 41 processed successfully
✅ Batch 41 to 42 processed successfully
✅ Batch 42 to 43 processed successfully
✅ Batch 43 to 44 processed successfully
✅ Batch 44 to 45 processed successfully
✅ Batch 45 to 46 processed successfully
✅ Batch 46 to 47 processed successfully
✅ Batch 47 to 48 processed successfully
✅ Batch 48 to 49 processed successfully
✅ Batch 49 to 50 processed successfully
✅ Batch 50 to 51 processed successfully
✅ Batch 51 to 52 processed successfully
✅ Batch 52 to 53 processed successfully
✅ Batch 53 to 54 processed successfully
✅ Batch 54 to 55 processed successfully
✅ Batch 55 to 56 processed successfully
✅ Batch 56 to 57 processed successfully
✅ Batch 57 to 58 processed successfully
✅ Batch 58 to 59 processed successfully
✅ Batch 59 to 60 processed successfully
✅ Batch 60 to 61 processed successfully
✅ Batch 61 to 62 processed successfully
✅ Batch 62 to 63 processed successfully
✅ Batch 63 to 64 processed successfully
✅ Batch 64 to 65 processed successfully
✅ Batch 65 to 66 processed successfully
✅ Batch 66 to 67 processed successfully
✅ Batch 67 to 68 processed successfully
✅ Batch 68 to 69 processed successfully
✅ Batch 69 to 70 processed successfully
✅ Batch 70 to 71 processed successfully
✅ Batch 71 to 72 processed successfully
✅ Batch 72 to 73 processed successfully
✅ Batch 73 to 74 processed successfully
✅ Batch 74 to 75 processed successfully
✅ Batch 75 to 76 processed successfully
✅ Batch 76 to 77 processed successfully
✅ Batch 77 to 78 processed successfully
✅ Batch 78 to 79 processed successfully
✅ Batch 79 to 80 processed successfully
✅ Batch 80 to 81 processed successfully
✅ Batch 81 to 82 processed successfully
✅ Batch 82 to 83 processed successfully
✅ Batch 83 to 84 processed successfully
✅ Batch 84 to 85 processed successfully
✅ Batch 85 to 86 processed successfully
✅ Batch 86 to 87 processed successfully
✅ Batch 87 to 88 processed successfully
✅ Batch 88 to 89 processed successfully
✅ Batch 89 to 90 processed successfully
✅ Batch 90 to 91 processed successfully
✅ Batch 91 to 92 processed successfully
✅ Batch 92 to 93 processed successfully
✅ Batch 93 to 94 processed successfully
✅ Batch 94 to 95 processed successfully
✅ Batch 95 to 96 processed successfully
✅ Batch 96 to 97 processed successfully
✅ Batch 97 to 98 processed successfully
✅ Batch 98 to 99 processed successfully
✅ Batch 99 to 100 processed successfully
✅ Batch 100 to 101 processed successfully
✅ Batch 101 to 102 processed successfully
✅ Batch 102 to 103 processed successfully
✅ Batch 103 to 104 processed successfully
✅ Batch 104 to 105 processed successfully
✅ Batch 105 to 106 processed successfully
✅ Batch 106 to 107 processed successfully
✅ Batch 107 to 108 processed successfully
✅ Batch 108 to 109 processed successfully
✅ Batch 109 to 110 processed successfully
✅ Batch 110 to 111 processed successfully
✅ Batch 111 to 112 processed successfully
✅ Batch 112 to 113 processed successfully
✅ Batch 113 to 114 processed successfully
✅ Batch 114 to 115 processed successfully
✅ Batch 115 to 116 processed successfully
✅ Batch 116 to 117 processed successfully
✅ Batch 117 to 118 processed successfully
✅ Batch 118 to 119 processed successfully
✅ Batch 119 to 120 processed successfully
✅ Batch 120 to 121 processed successfully
✅ Batch 121 to 122 processed successfully
✅ Batch 122 to 123 processed successfully
✅ Batch 123 to 124 processed successfully
✅ Batch 124 to 125 processed successfully
✅ Batch 125 to 126 processed successfully
✅ Batch 126 to 127 processed successfully
✅ Batch 127 to 128 processed successfully
✅ Batch 128 to 129 processed successfully
✅ Batch 129 to 130 processed successfully
✅ Batch 130 to 131 processed successfully
✅ Batch 131 to 132 processed successfully
✅ Batch 132 to 133 processed successfully
✅ Batch 133 to 134 processed successfully
✅ Batch 134 to 135 processed successfully
✅ Batch 135 to 136 processed successfully
✅ Batch 136 to 137 processed successfully
✅ Batch 137 to 138 processed successfully
✅ Batch 138 to 139 processed successfully
✅ Batch 139 to 140 processed successfully
✅ Batch 140 to 141 processed successfully
✅ Batch 141 to 142 processed successfully
✅ Batch 142 to 143 processed successfully
✅ Batch 143 to 144 processed successfully
✅ Batch 144 to 145 processed successfully
✅ Batch 145 to 146 processed successfully
✅ Batch 146 to 147 processed successfully
✅ Batch 147 to 148 processed successfully
✅ Batch 148 to 149 processed successfully
✅ Batch 149 to 150 processed successfully
✅ Batch 150 to 151 processed successfully
✅ Batch 151 to 152 processed successfully
✅ Batch 152 to 153 processed successfully
✅ Batch 153 to 154 processed successfully
✅ Batch 154 to 155 processed successfully
✅ Batch 155 to 156 processed successfully
✅ Batch 156 to 157 processed successfully
✅ Batch 157 to 158 processed successfully
✅ Batch 158 to 159 processed successfully
✅ Batch 159 to 160 processed successfully
✅ Batch 160 to 161 processed successfully
✅ Batch 161 to 162 processed successfully
✅ Batch 162 to 163 processed successfully
✅ Batch 163 to 164 processed successfully
✅ Batch 164 to 165 processed successfully
✅ Batch 165 to 166 processed successfully
✅ Batch 166 to 167 processed successfully
✅ Batch 167 to 168 processed successfully
✅ Batch 168 to 169 processed successfully
✅ Batch 169 to 170 processed successfully
✅ Batch 170 to 171 processed successfully
✅ Batch 171 to 172 processed successfully
✅ Batch 172 to 173 processed successfully
✅ Batch 173 to 174 processed successfully
✅ Batch 174 to 175 processed successfully
✅ Batch 175 to 176 processed successfully
✅ Batch 176 to 177 processed successfully
✅ Batch 177 to 178 processed successfully
✅ Batch 178 to 179 processed successfully
✅ Batch 179 to 180 processed successfully
✅ Batch 180 to 181 processed successfully
✅ Batch 181 to 182 processed successfully
✅ Batch 182 to 183 processed successfully
✅ Batch 183 to 184 processed successfully
✅ Batch 184 to 185 processed successfully
✅ Batch 185 to 186 processed successfully
✅ Batch 186 to 187 processed successfully
✅ Batch 187 to 188 processed successfully
✅ Batch 188 to 189 processed successfully
✅ Batch 189 to 190 processed successfully
✅ Batch 190 to 191 processed successfully
✅ Batch 191 to 192 processed successfully
✅ Batch 192 to 193 processed successfully
✅ Batch 193 to 194 processed successfully
✅ Batch 194 to 195 processed successfully
✅ Batch 195 to 196 processed successfully
✅ Batch 196 to 197 processed successfully
✅ Batch 197 to 198 processed successfully
✅ Batch 198 to 199 processed successfully
✅ Batch 199 to 200 processed successfully
✅ Batch 200 to 201 processed successfully
✅ Batch 201 to 202 processed successfully
✅ Batch 202 to 203 processed successfully
✅ Batch 203 to 204 processed successfully
✅ Batch 204 to 205 processed successfully
✅ Batch 205 to 206 processed successfully
✅ Batch 206 to 207 processed successfully
✅ Batch 207 to 208 processed successfully
✅ Batch 208 to 209 processed successfully
✅ Batch 209 to 210 processed successfully
✅ Batch 210 to 211 processed successfully
✅ Batch 211 to 212 processed successfully
✅ Batch 212 to 213 processed successfully
✅ Batch 213 to 214 processed successfully
✅ Batch 214 to 215 processed successfully
✅ Batch 215 to 216 processed successfully
✅ Batch 216 to 217 processed successfully
✅ Batch 217 to 218 processed successfully
✅ Batch 218 to 219 processed successfully
✅ Batch 219 to 220 processed successfully
✅ Batch 220 to 221 processed successfully
✅ Batch 221 to 222 processed successfully
✅ Batch 222 to 223 processed successfully
✅ Batch 223 to 224 processed successfully
✅ Batch 224 to 225 processed successfully
✅ Batch 225 to 226 processed successfully
✅ Batch 226 to 227 processed successfully
✅ Batch 227 to 228 processed successfully
✅ Batch 228 to 229 processed successfully
✅ Batch 229 to 230 processed successfully
✅ Batch 230 to 231 processed successfully
✅ Batch 231 to 232 processed successfully
✅ Batch 232 to 233 processed successfully
✅ Batch 233 to 234 processed successfully
✅ Batch 234 to 235 processed successfully
✅ Batch 235 to 236 processed successfully
✅ Batch 236 to 237 processed successfully
✅ Batch 237 to 238 processed successfully
✅ Batch 238 to 239 processed successfully
✅ Batch 239 to 240 processed successfully
✅ Batch 240 to 241 processed successfully
✅ Batch 241 to 242 processed successfully
✅ Batch 242 to 243 processed successfully
✅ Batch 243 to 244 processed successfully
✅ Batch 244 to 245 processed successfully
✅ Batch 245 to 246 processed successfully
✅ Batch 246 to 247 processed successfully
✅ Batch 247 to 248 processed successfully
✅ Batch 248 to 249 processed successfully
✅ Batch 249 to 250 processed successfully
✅ Batch 250 to 251 processed successfully
✅ Batch 251 to 252 processed successfully
✅ Batch 252 to 253 processed successfully
✅ Batch 253 to 254 processed successfully
✅ Batch 254 to 255 processed successfully
✅ Batch 255 to 256 processed successfully
✅ Batch 256 to 257 processed successfully
✅ Batch 257 to 258 processed successfully
✅ Batch 258 to 259 processed successfully
✅ Batch 259 to 260 processed successfully
✅ Batch 260 to 261 processed successfully
✅ Batch 261 to 262 processed successfully
✅ Batch 262 to 263 processed successfully
✅ Batch 263 to 264 processed successfully
✅ Batch 264 to 265 processed successfully
✅ Batch 265 to 266 processed successfully
✅ Batch 266 to 267 processed successfully
✅ Batch 267 to 268 processed successfully
✅ Batch 268 to 269 processed successfully
✅ Batch 269 to 270 processed successfully
✅ Batch 270 to 271 processed successfully
✅ Batch 271 to 272 processed successfully
✅ Batch 272 to 273 processed successfully
✅ Batch 273 to 274 processed successfully
✅ Batch 274 to 275 processed successfully
✅ Batch 275 to 276 processed successfully
✅ Batch 276 to 277 processed successfully
✅ Batch 277 to 278 processed successfully
✅ Batch 278 to 279 processed successfully
✅ Batch 279 to 280 processed successfully
✅ Batch 280 to 281 processed successfully
✅ Batch 281 to 282 processed successfully
✅ Batch 282 to 283 processed successfully
✅ Batch 283 to 284 processed successfully
✅ Batch 284 to 285 processed successfully
✅ Batch 285 to 286 processed successfully
✅ Batch 286 to 287 processed successfully
✅ Batch 287 to 288 processed successfully
✅ Batch 288 to 289 processed successfully
✅ Batch 289 to 290 processed successfully
✅ Batch 290 to 291 processed successfully
✅ Batch 291 to 292 processed successfully
✅ Batch 292 to 293 processed successfully
✅ Batch 293 to 294 processed successfully
✅ Batch 294 to 295 processed successfully
✅ Batch 295 to 296 processed successfully
✅ Batch 296 to 297 processed successfully
✅ Batch 297 to 298 processed successfully
✅ Batch 298 to 299 processed successfully
✅ Batch 299 to 300 processed successfully
✅ Batch 300 to 301 processed successfully
✅ Batch 301 to 302 processed successfully
✅ Batch 302 to 303 processed successfully
✅ Batch 303 to 304 processed successfully
✅ Batch 304 to 305 processed successfully
✅ Batch 305 to 306 processed successfully
✅ Batch 306 to 307 processed successfully
✅ Batch 307 to 308 processed successfully
✅ Batch 308 to 309 processed successfully
✅ Batch 309 to 310 processed successfully
✅ Batch 310 to 311 processed successfully
✅ Batch 311 to 312 processed successfully
✅ Batch 312 to 313 processed successfully
✅ Batch 313 to 314 processed successfully
✅ Batch 314 to 315 processed successfully
✅ Batch 315 to 316 processed successfully
✅ Batch 316 to 317 processed successfully
✅ Batch 317 to 318 processed successfully
✅ Batch 318 to 319 processed successfully
✅ Batch 319 to 320 processed successfully
✅ Batch 320 to 321 processed successfully
✅ Batch 321 to 322 processed successfully
✅ Batch 322 to 323 processed successfully
✅ Batch 323 to 324 processed successfully
✅ Batch 324 to 325 processed successfully
✅ Batch 325 to 326 processed successfully
✅ Batch 326 to 327 processed successfully
✅ Batch 327 to 328 processed successfully
✅ Batch 328 to 329 processed successfully
✅ Batch 329 to 330 processed successfully
✅ Batch 330 to 331 processed successfully
✅ Batch 331 to 332 processed successfully
✅ Batch 332 to 333 processed successfully
✅ Batch 333 to 334 processed successfully
✅ Batch 334 to 335 processed successfully
✅ Batch 335 to 336 processed successfully
✅ Batch 336 to 337 processed successfully
✅ Batch 337 to 338 processed successfully
✅ Batch 338 to 339 processed successfully
✅ Batch 339 to 340 processed successfully
✅ Batch 340 to 341 processed successfully
✅ Batch 341 to 342 processed successfully
✅ Batch 342 to 343 processed successfully
✅ Batch 343 to 344 processed successfully
✅ Batch 344 to 345 processed successfully
✅ Batch 345 to 346 processed successfully
✅ Batch 346 to 347 processed successfully
✅ Batch 347 to 348 processed successfully
✅ Batch 348 to 349 processed successfully
✅ Batch 349 to 350 processed successfully
✅ Batch 350 to 351 processed successfully
✅ Batch 351 to 352 processed successfully
✅ Batch 352 to 353 processed successfully
✅ Batch 353 to 354 processed successfully
✅ Batch 354 to 355 processed successfully
✅ Batch 355 to 356 processed successfully
✅ Batch 356 to 357 processed successfully
✅ Batch 357 to 358 processed successfully
✅ Batch 358 to 359 processed successfully
✅ Batch 359 to 360 processed successfully
✅ Batch 360 to 361 processed successfully
✅ Batch 361 to 362 processed successfully
✅ Batch 362 to 363 processed successfully
✅ Batch 363 to 364 processed successfully
✅ Batch 364 to 365 processed successfully
✅ Batch 365 to 366 processed successfully
✅ Batch 366 to 367 processed successfully
✅ Batch 367 to 368 processed successfully
✅ Batch 368 to 369 processed successfully
✅ Batch 369 to 370 processed successfully
✅ Batch 370 to 371 processed successfully
✅ Batch 371 to 372 processed successfully
✅ Batch 372 to 373 processed successfully
✅ Batch 373 to 374 processed successfully
✅ Batch 374 to 375 processed successfully
✅ Batch 375 to 376 processed successfully
✅ Batch 376 to 377 processed successfully
✅ Batch 377 to 378 processed successfully
✅ Batch 378 to 379 processed successfully
✅ Batch 379 to 380 processed successfully
✅ Batch 380 to 381 processed successfully
✅ Batch 381 to 382 processed successfully
✅ Batch 382 to 383 processed successfully
✅ Batch 383 to 384 processed successfully
✅ Batch 384 to 385 processed successfully
✅ Batch 385 to 386 processed successfully
✅ Batch 386 to 387 processed successfully
✅ Batch 387 to 388 processed successfully
✅ Batch 388 to 389 processed successfully
✅ Batch 389 to 390 processed successfully
✅ Batch 390 to 391 processed successfully
✅ Batch 391 to 392 processed successfully
✅ Batch 392 to 393 processed successfully
✅ Batch 393 to 394 processed successfully
✅ Batch 394 to 395 processed successfully
✅ Batch 395 to 396 processed successfully
✅ Batch 396 to 397 processed successfully
✅ Batch 397 to 398 processed successfully
✅ Batch 398 to 399 processed successfully
✅ Batch 399 to 400 processed successfully
✅ Batch 400 to 401 processed successfully
✅ Batch 401 to 402 processed successfully
✅ Batch 402 to 403 processed successfully
✅ Batch 403 to 404 processed successfully
✅ Batch 404 to 405 processed successfully
✅ Batch 405 to 406 processed successfully
✅ Batch 406 to 407 processed successfully
✅ Batch 407 to 408 processed successfully
✅ Batch 408 to 409 processed successfully
✅ Batch 409 to 410 processed successfully
✅ Batch 410 to 411 processed successfully
✅ Batch 411 to 412 processed successfully
✅ Batch 412 to 413 processed successfully
✅ Batch 413 to 414 processed successfully
✅ Batch 414 to 415 processed successfully
✅ Batch 415 to 416 processed successfully
✅ Batch 416 to 417 processed successfully
✅ Batch 417 to 418 processed successfully
✅ Batch 418 to 419 processed successfully
✅ Batch 419 to 420 processed successfully
✅ Batch 420 to 421 processed successfully
✅ Batch 421 to 422 processed successfully
✅ Batch 422 to 423 processed successfully
✅ Batch 423 to 424 processed successfully
✅ Batch 424 to 425 processed successfully
✅ Batch 425 to 426 processed successfully
✅ Batch 426 to 427 processed successfully
✅ Batch 427 to 428 processed successfully
✅ Batch 428 to 429 processed successfully
✅ Batch 429 to 430 processed successfully
✅ Batch 430 to 431 processed successfully
✅ Batch 431 to 432 processed successfully
✅ Batch 432 to 433 processed successfully
✅ Batch 433 to 434 processed successfully
✅ Batch 434 to 435 processed successfully
✅ Batch 435 to 436 processed successfully
✅ Batch 436 to 437 processed successfully
✅ Batch 437 to 438 processed successfully
✅ Batch 438 to 439 processed successfully
✅ Batch 439 to 440 processed successfully
✅ Batch 440 to 441 processed successfully
✅ Batch 441 to 442 processed successfully
✅ Batch 442 to 443 processed successfully
✅ Batch 443 to 444 processed successfully
✅ Batch 444 to 445 processed successfully
✅ Batch 445 to 446 processed successfully
✅ Batch 446 to 447 processed successfully
✅ Batch 447 to 448 processed successfully
✅ Batch 448 to 449 processed successfully
✅ Batch 449 to 450 processed successfully
✅ Batch 450 to 451 processed successfully
✅ Batch 451 to 452 processed successfully
✅ Batch 452 to 453 processed successfully
✅ Batch 453 to 454 processed successfully
✅ Batch 454 to 455 processed successfully
✅ Batch 455 to 456 processed successfully
✅ Batch 456 to 457 processed successfully
✅ Batch 457 to 458 processed successfully
✅ Batch 458 to 459 processed successfully
✅ Batch 459 to 460 processed successfully
✅ Batch 460 to 461 processed successfully
✅ Batch 461 to 462 processed successfully
✅ Batch 462 to 463 processed successfully
✅ Batch 463 to 464 processed successfully
✅ Batch 464 to 465 processed successfully
✅ Batch 465 to 466 processed successfully
✅ Batch 466 to 467 processed successfully
✅ Batch 467 to 468 processed successfully
✅ Batch 468 to 469 processed successfully
✅ Batch 469 to 470 processed successfully
✅ Batch 470 to 471 processed successfully
✅ Batch 471 to 472 processed successfully
✅ Batch 472 to 473 processed successfully
✅ Batch 473 to 474 processed successfully
✅ Batch 474 to 475 processed successfully
✅ Batch 475 to 476 processed successfully
✅ Batch 476 to 477 processed successfully
✅ Batch 477 to 478 processed successfully
✅ Batch 478 to 479 processed successfully
✅ Batch 479 to 480 processed successfully
✅ Batch 480 to 481 processed successfully

In [40]:
#Step 5: Converting to DataFrame for easier lookup
similar_movies_df = pd.DataFrame(similar_movies)
similar_movies_df.head()

   movie_index  similar_index  similarity
0            0            195    0.408314
1            0            457    0.395301
2            0            296    0.390028
3            0            166    0.377969
4            0            295    0.375597

In [41]:
#Movie recommendation function (content-based)

def recommend_by_title(movie_title, top_n=5):
    try:
        movie_index = tmdb_df[tmdb_df['original_title'] == movie_title].index[0]
    except IndexError:
        return f"Movie '{movie_title}' not found in dataset."

    similar_rows = similar_movies_df[similar_movies_df['movie_index'] == movie_index]
    
    #Sorting by similarity, exclude self-match
    top_matches = similar_rows[similar_rows['similar_index'] != movie_index]
    top_matches = top_matches.sort_values(by='similarity', ascending=False).head(top_n)

    #Mapping similar indices to movie titles
    top_matches['similar_title'] = top_matches['similar_index'].apply(lambda idx: tmdb_df.iloc[idx]['original_title'])
    
    return top_matches[['similar_title', 'similarity']]

In [42]:
#Testing that it works

recommend_by_title("Inception", top_n=5)

                           similar_title  similarity
0                           Blade Runner    0.408314
1                            San Andreas    0.395301
2                       The Big Lebowski    0.390028
3  Eternal Sunshine of the Spotless Mind    0.377969
4         Jurassic World: Fallen Kingdom    0.375597

In [43]:
#Precomputing and Storing Top-N Similar Movies for Each Movie (scalable)

#Number of recommendations to store
top_n = 10

precomputed_recs = []

for movie_index in tqdm(range(len(tmdb_df))):  # tqdm shows progress bar
    similar_rows = similar_movies_df[similar_movies_df['movie_index'] == movie_index]
    similar_rows = similar_rows[similar_rows['similar_index'] != movie_index]  # exclude self

    top_matches = similar_rows.sort_values(by='similarity', ascending=False).head(top_n)

    for _, row in top_matches.iterrows():
        precomputed_recs.append({
            "movie_index": movie_index,
            "similar_index": row['similar_index'],
            "similarity": row['similarity']
        })

#Converting to DataFrame
precomputed_df = pd.DataFrame(precomputed_recs)
precomputed_df.head()

100%|█████████████████████████████████| 510323/510323 [01:15<00:00, 6767.57it/s]

   movie_index  similar_index  similarity
0            0          195.0    0.408314
1            0          457.0    0.395301
2            0          296.0    0.390028
3            0          166.0    0.377969
4            0          295.0    0.375597

In [44]:
#Saving precomputed recommendations to a parquet file

precomputed_df.to_parquet('precomputed_recs.parquet', index=False)

In [45]:
#Testing the loading to make sure it works

loaded_df = pd.read_parquet('precomputed_recs.parquet')
loaded_df.head()

   movie_index  similar_index  similarity
0            0          195.0    0.408314
1            0          457.0    0.395301
2            0          296.0    0.390028
3            0          166.0    0.377969
4            0          295.0    0.375597

In [46]:
mongo_collection.insert_many(loaded_df.to_dict(orient='records'))
print("Data successfully saved from Parquet to MongoDB.")

Data successfully saved from Parquet to MongoDB.

In [47]:
#Closing sessions

#SparkSession 
try:
    spark.stop()
    print("Spark session stopped.")
except NameError:
    print("No Spark session was running.")

#PostgreSQL connection 
try:
    if 'conn' in globals():
        conn.close()
        print("PostgreSQL connection closed.")
except Exception as e:
    print("Error closing PostgreSQL connection:", e)

#Reminder for Flask
print("\n If Flask is still running in the terminal, press CTRL+C to stop the server.")
print("Make sure any changes to your code files are saved before closing JupyterLab.")

Spark session stopped.
PostgreSQL connection closed.

 If Flask is still running in the terminal, press CTRL+C to stop the server.
Make sure any changes to your code files are saved before closing JupyterLab.

In [48]:
print(datetime.now())

2025-08-11 15:27:17.623624